body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
 }
 
 .container {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 
 h2 {
    text-align: center;
    color: #333;
 }
 
 form {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 label {
    margin: 0 auto;
    margin-bottom: 18px;
    color: #333;
 }
 
 input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 16px;
    margin: 0 auto;
    font-size: 16px;
    width: 300px;
 }
 
 button {
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
    width: 200px;
 }
 
 button:hover {
    background-color: black;
 }
 
 input {
    margin: 0px auto;
 }
 
 #correctAnswer {
    margin: 0px auto;
    width: 100px;
 }
 
 #correctAnswer option {
    width: 100px; 
 }

 #optionsContainer input {
    margin: 0 auto;
    display: block;
 } 