* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('../images/login.png') no-repeat center center fixed;
    font-family: 'Arial', sans-serif;
    background-size: contain;
    color: #fff;
    margin: 0;
    min-height: 100vh;
    text-align: center;
}

header {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    display: inline-block;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
form:hover {
    background: rgba(0, 0, 0, 0.8);
}
label {
    display: block;
    margin: 10px 0;
    font-size: 1.2em;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.styled-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px; 
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background-color: rgb(246, 162, 6);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
  
.styled-button:hover {
    background-color: black;
}