body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Dark mode */
body.dark {
  background-color: black;
  color: #ffffff;
}

header {
    background-color: black;
    color: #fff;
    padding: 1em;
    text-align: center;
}
  
section {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section.dark {
    background-color: black;
    color: white;
}
  
h2 {
    color: #f2994a;
}
  
p {
    margin: 0.5em 0;
}
  
button {
    background-color: #4caf50;
    color: #fff;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
  
button:hover {
    background-color: #45a049;
}